In [600]:
import pandas as pd
import numpy as np
import re

In [601]:
df = pd.read_csv('../csv_files/properties.csv', low_memory=False)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [602]:
df.shape

(75876, 22)

# Remove leading and trailing spaces from column names

In [603]:
df.columns = [x.strip(' ') for x in df.columns.values]

# Remove leading and trailing spaces of every element

In [604]:
# remove leading and trailing spaces and newline characters from values if they are a string
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

#### 1. PostCode

In [605]:
# 1 Converts postCode into int64

df['postcode'] = df['postcode'].astype('Int64')
df['postcode'].dtypes

Int64Dtype()

#### 2. Price

In [606]:
# 2 Converting price
def grabs_strips(x):
    if type(x) == str:
        # return x.str.extract('(\d*\.?\d*)', expand=False).astype(float)
        return re.match(r'\d*\.?\d*',x).group()
    return x


df['price'] = df['price'].apply(grabs_strips)

In [607]:
# Conversion into float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [608]:
df['price'].shape

(75876,)

In [609]:
df.dropna(subset=['price'], inplace=True)
df.shape

(73880, 22)

#### 3.Sale

In [610]:
df['sale'].replace({
    'Wohnung': "Apartment",
    'Appartement': "Apartment",
    'Apartamento': "Apartment",
    '': "Unknown",
    'None': "Unknown",
})

df.sale = df['sale'].fillna('Unknown')

## 9.properties.room_number

In [611]:
# replace None to np.nan
df.rooms_number.fillna(value=np.nan, inplace=True)
df.rooms_number[df.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [612]:
# replace 'None' to np.nan
df.rooms_number = df.rooms_number.apply(lambda x : np.nan if x=='None' else x)
df.rooms_number[df.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [613]:
# change data type of rooms_number from object to float64
df.rooms_number = df.rooms_number.astype('float64')

## 10.properties.area

In [614]:
# replace 'm2' from value of area
df.area = df.area.replace(r'\w|\W|\s', '', regex=True)

In [615]:
# replace 'm2' from value of area
df.area = df.area.replace('', np.nan)

In [616]:
# replace None to np.nan
df.area.fillna(value=np.nan, inplace=True)

In [617]:
# replace 'None' to np.nan
df.area = df.area.apply(lambda x : np.nan if x=='None' else x)

In [618]:
# change data type from object to float64
df.area = df.area.astype('float64')

## 11.kitchen_has

In [619]:
df.kitchen_has.value_counts(dropna=False)

True     50148
False    19263
NaN       4469
Name: kitchen_has, dtype: int64

In [620]:
# change data type from object to float64
df.kitchen_has = df.kitchen_has.astype('float64')

In [621]:
df.kitchen_has.value_counts(dropna=False)

1.0    50148
0.0    19263
NaN     4469
Name: kitchen_has, dtype: int64

## 12.furnished

In [622]:
# change data type from object to float64
df.furnished = df.furnished.astype('float64')

## 13.open_fire

In [623]:
# change data type from object to float64
df.open_fire = df.open_fire.astype('float64')

## 14.terrace

In [624]:
# change numerical data to np.nan
df.terrace = df.terrace.replace(r'\d\.?\d?', True, regex=True)

In [625]:
# replace string False to False
df.terrace = df.terrace.replace('False', False)

In [626]:
# replace string False to False
df.terrace = df.terrace.replace('TRUE', True)

In [627]:
# replace string False to False
df.terrace = df.terrace.replace('True', True)

In [628]:
# change data type from object to bool
df.terrace = df.terrace.astype('float64')

In [629]:
df.terrace.value_counts(dropna=False)

1.0    34219
0.0    25809
NaN    13852
Name: terrace, dtype: int64

## 15.terrace_area

In [630]:
# replace 'None' to np.nan
df.terrace_area = df.terrace_area.apply(lambda x : np.nan if x=='None' else x)
df.terrace_area[df.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [631]:
df.terrace_area = df.terrace_area.replace(True, np.nan)
df.terrace_area = df.terrace_area.replace('TRUE', np.nan)

In [632]:
# change data type from object to float64
df.terrace_area = df.terrace_area.astype('float64')

# 16.Garden

In [633]:
# replace string False to False
df.garden = df.garden.replace('False', False)

In [634]:
# replace string False to False
df.garden = df.garden.replace('True', True)

In [635]:
# change data type from object to bool
df.garden = df.garden.astype('float64')

## 17.Garden Area

In [636]:
# replace None to np.nan
df.garden_area.fillna(value=np.NaN, inplace=True)
df.garden_area[df.garden_area==None]

# replace 'None' to np.nan
df.garden_area = df.garden_area.apply(lambda x : np.nan if x=='None' else x)
df.garden_area[df.garden_area=='None']

# change data type of rooms_number from object to float64
df.garden_area = df.garden_area.astype('float64')

## 18.land_surface

In [637]:
# replace None to np.nan
df.land_surface.fillna(value=np.NaN, inplace=True)

# replace np.nan TO 0
df.land_surface = df.land_surface.replace(np.nan, 0)

# replace None to np.nan
df.land_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_surface = df.land_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_surface = df.land_surface.astype('float64')

## 19.land_plot_surface

In [638]:
# replace 'yes' from value to 0
df.land_plot_surface = df.land_plot_surface.replace(r'\w|\W|\s', '', regex=True)

# replace 'm2' from value of area
df.land_plot_surface = df.land_plot_surface.replace('', np.nan)

# replace None to np.nan
df.land_plot_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_plot_surface = df.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_surface = df.land_surface.astype('float64')

## 20.facades_number

In [639]:
# replace 'None' to np.nan
df.facades_number = df.facades_number.apply(lambda x : np.nan if x=='None' else x)
df.facades_number[df.facades_number=='None']

# change data type of facades_number from object to float64
df.facades_number = df.facades_number.astype('float64')

## 21.swimming_pool_has

In [640]:
 #change numerical data to np.nan
df.swimming_pool_has = df.swimming_pool_has.replace(r'\d\.?\d?', np.nan, regex=True)

# replace string False to False
df.swimming_pool_has = df.swimming_pool_has.replace('False', False)

# change data type from object to bool
df.swimming_pool_has = df.swimming_pool_has.astype('float64')

df.swimming_pool_has.value_counts(dropna=False)

0.0    62866
NaN     8451
1.0     2563
Name: swimming_pool_has, dtype: int64

## 22.building_state

In [641]:
# change numerical data to np.nan
df.building_state = df.building_state.replace(r'\d\.?\d?', np.nan, regex=True)
df.building_state = df.building_state.apply(lambda x : np.nan if x=='None' else x)
df.building_state = df.building_state.replace(np.nan, 'Not specified')
df.building_state.unique()

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', 'JUST_RENOVATED', 'TO_BE_DONE_UP',
       'TO_RESTORE', 'Not specified', 'New', 'old'], dtype=object)

# Check if there are columns with mixed data types ==> NO

In [642]:
from pandas.api.types import infer_dtype
# print data type of each column to check if there are
# any mixed ones, turns out that there are none
def is_mixed(col):
    return infer_dtype(col)

df.apply(is_mixed)

# ==> there are no columns with 'mixed' part of the inferred datatype

source                integer
hyperlink              string
locality               string
postcode              integer
house_is               string
property_subtype       string
price                floating
sale                   string
rooms_number         floating
area                 floating
kitchen_has          floating
furnished            floating
open_fire            floating
terrace              floating
terrace_area         floating
garden               floating
garden_area          floating
land_surface         floating
land_plot_surface    floating
facades_number       floating
swimming_pool_has    floating
building_state         string
dtype: object

## Find which kind of empties there are ==> there are only NaNs

In [643]:
# are there any empty strings? ==> no
#print(np.where(df.applymap(lambda x: x == '')))

# are there any NaNs? ==> yes
np.where(pd.isnull(df))

(array([    0,     0,     1, ..., 73879, 73879, 73879]),
 array([ 9, 18,  9, ..., 18, 19, 20]))

# Display the percent of NaNs per column

In [644]:
# display the percent of NaNs per column
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'%_missing': percent_missing})
missing_value_df = missing_value_df.sort_values('%_missing', ascending = False)
missing_value_df

                    %_missing
land_plot_surface  100.000000
area               100.000000
terrace_area        35.523822
garden_area         31.178939
hyperlink           20.147537
facades_number      19.455874
terrace             18.749323
land_surface        18.172713
swimming_pool_has   11.438820
garden              10.246345
postcode             9.676502
furnished            7.857336
open_fire            7.472929
kitchen_has          6.048998
rooms_number         0.291012
locality             0.002707
source               0.000000
sale                 0.000000
price                0.000000
property_subtype     0.000000
house_is             0.000000
building_state       0.000000

# Put 'unknown' in place of NaN for everything else than int64 and float64 columns
## Please run this after converting numerical columns like price and facades from string to integer.  
Even a value of NaN might help predict the price, so to avoid the correlation algorithm skipping it?, and because NaN is not allowed, we replace it.

In [645]:
# replace all NaNs in strings with 'unknown'
df_nanfilled = df.select_dtypes(exclude=['int64','float64']).replace(np.nan, 'unknown')
df.update(df_nanfilled)
print(df.info())

# replace all 'None'/'none' strings with uknown
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('none', 'unknown')
df.update(df_nonefilled)
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('None', 'unknown')
df.update(df_nonefilled)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73880 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             73880 non-null  int64
 1   hyperlink          73880 non-null  object
 2   locality           73880 non-null  object
 3   postcode           66731 non-null  Int64
 4   house_is           73880 non-null  object
 5   property_subtype   73880 non-null  object
 6   price              73880 non-null  float64
 7   sale               73880 non-null  object
 8   rooms_number       73665 non-null  float64
 9   area               0 non-null      float64
 10  kitchen_has        69411 non-null  float64
 11  furnished          68075 non-null  float64
 12  open_fire          68359 non-null  float64
 13  terrace            60028 non-null  float64
 14  terrace_area       47635 non-null  float64
 15  garden             66310 non-null  float64
 16  garden_area        50845 non-null  float64
 17  land_surface       60454 non-null  float64
 18  land_plot_surface  0 non-null      float64
 19  facades_number     59506 non-null  float64
 20  swimming_pool_has  65429 non-null  float64
 21  building_state     73880 non-null  object
dtypes: Int64(1), float64(14), int64(1), object(6)
memory usage: 13.0+ MB
None

# Drop postcode column, because postcode is more completely available in 'locality'
### first we fix 'locality' column to carry just postcode or 'unknown' (stripping sporadic address parts)

In [646]:
df.drop('postcode', axis = 1, inplace = True)

# write a function that returns the cleaned postcode from elements
# containing the address
def clean_locality(locality): 
    # Search for the presence of a 4 digit number (starts with 1-9)
    if re.search('[1-9]\d{3}', locality):
        # get the number
        return re.findall("[1-9]\d{3}", locality)[0]
    else: 
        # if no postcode is inside insert 'unknown' 
        return 'unknown'
          
# Updated locality column
df['locality'] = df['locality'].apply(clean_locality)

## Create a region column

In [647]:
#import intermediate csv file with locality column
def get_region(locality):
    if locality == 'unknown':
        return 'unknown'
    else:
        if not re.search('[1-9]\d{3}', locality):
            print('Please run this on already cleaned locality column')
            return 'unknown'
        elif int(locality) >= 1000 and int(locality) <=1299:
            return 'Brussels'
        elif int(locality) >= 1300 and int(locality) <=1499:
            return 'Wallonia'
        elif int(locality) >= 4000 and int(locality) <=7999:
            return 'Wallonia'
        else:
            return 'Flanders'
        
df['region'] = df['locality'].apply(get_region)
df.region.value_counts()

unknown     25635
Flanders    25099
Wallonia    14520
Brussels     8626
Name: region, dtype: int64

In [648]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73880 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             73880 non-null  int64
 1   hyperlink          73880 non-null  object
 2   locality           73880 non-null  object
 3   house_is           73880 non-null  object
 4   property_subtype   73880 non-null  object
 5   price              73880 non-null  float64
 6   sale               73880 non-null  object
 7   rooms_number       73665 non-null  float64
 8   area               0 non-null      float64
 9   kitchen_has        69411 non-null  float64
 10  furnished          68075 non-null  float64
 11  open_fire          68359 non-null  float64
 12  terrace            60028 non-null  float64
 13  terrace_area       47635 non-null  float64
 14  garden             66310 non-null  float64
 15  garden_area        50845 non-null  float64
 16  land_surface       60454 non-null  float64
 17  land_plot_surface  0 non-null      float64
 18  facades_number     59506 non-null  float64
 19  swimming_pool_has  65429 non-null  float64
 20  building_state     73880 non-null  object
 21  region             73880 non-null  object
dtypes: float64(14), int64(1), object(7)
memory usage: 13.0+ MB

# Remove duplicates
### should execute after fixing columns
### should execute after removing non-property detail or incomplete columns: source and hyperlink

In [649]:
# drop columns 
df.drop(['source', 'hyperlink'], axis = 1, inplace = True)

# drop 100% duplicate rows
lenght_before = len(df)
df.drop_duplicates(ignore_index = True, inplace = True)
dropped = len(df) - lenght_before
print(f'Dropped: {dropped}')

Dropped: -25437

# Print unique values per column

In [650]:
uniques = pd.DataFrame()
for col in df:
    col_uniques = pd.DataFrame({f'{col}_value': df[f'{col}'].value_counts().index,
                                f'{col}_count': df[f'{col}'].value_counts().values})
    uniques = pd.concat([uniques, col_uniques], axis = 1)

uniques.head(50)

,locality_value,locality_count,house_is_value,house_is_count,property_subtype_value,property_subtype_count,price_value,price_count,sale_value,sale_count,...,land_plot_surface_value,land_plot_surface_count,facades_number_value,facades_number_count,swimming_pool_has_value,swimming_pool_has_count,building_state_value,building_state_count,region_value,region_count
0,unknown,20666.0,True,15465.0,HOUSE,14794.0,295000.0,572,Unknown,27667.0,...,NaN,NaN,0.0,17032.0,0.0,40969.0,Not specified,23549.0,unknown,20666.0
1,8300,1136.0,False,14382.0,APARTMENT,9921.0,199000.0,538,residential_sale,9073.0,...,NaN,NaN,2.0,9740.0,1.0,1770.0,AS_NEW,10931.0,Flanders,14362.0
2,1180,931.0,TRUE,9060.0,house,3310.0,249000.0,532,unknown,8883.0,...,NaN,NaN,4.0,7001.0,NaN,NaN,GOOD,7629.0,Wallonia,8421.0
3,1000,722.0,Yes,4538.0,apartment,3289.0,275000.0,530,Apartment,1491.0,...,NaN,NaN,3.0,5274.0,NaN,NaN,TO_BE_DONE_UP,2049.0,Brussels,4994.0
4,1050,678.0,No,4345.0,VILLA,3236.0,299000.0,529,first_session_with_reserve_price,562.0,...,NaN,NaN,1.0,238.0,NaN,NaN,TO_RENOVATE,1776.0,NaN,NaN
5,9000,560.0,FALSE,653.0,APARTMENT_BLOCK,1908.0,395000.0,512,Public Sale,171.0,...,NaN,NaN,10.0,2.0,NaN,NaN,JUST_RENOVATED,1605.0,NaN,NaN
6,8400,453.0,NaN,NaN,MIXED_USE_BUILDING,1707.0,225000.0,509,Huis,116.0,...,NaN,NaN,6.0,1.0,NaN,NaN,old,446.0,NaN,NaN
7,4000,328.0,NaN,NaN,DUPLEX,898.0,325000.0,438,Maison,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,New,335.0,NaN,NaN
8,1150,297.0,NaN,NaN,PENTHOUSE,860.0,250000.0,418,House,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,TO_RESTORE,123.0,NaN,NaN
9,1200,291.0,NaN,NaN,EXCEPTIONAL_PROPERTY,670.0,349000.0,415,Wohnung,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070,279.0,NaN,NaN,GROUND_FLOOR,621.0,195000.0,401,annuity_monthly_amount,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8370,268.0,NaN,NaN,MANSION,593.0,245000.0,397,Apartamento,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1030,262.0,NaN,NaN,villa,470.0,495000.0,382,Appartement,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4500,258.0,NaN,NaN,FLAT_STUDIO,458.0,175000.0,367,Notary Sale,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9300,257.0,NaN,NaN,TOWN_HOUSE,304.0,1.0,363,Appartamento,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8000,255.0,NaN,NaN,House,299.0,350000.0,355,last_session_reached_price_min_overbid,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1420,252.0,NaN,NaN,duplex,294.0,375000.0,351,final_public_sale,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,243.0,NaN,NaN,COUNTRY_COTTAGE,252.0,215000.0,350,annuity_lump_sum,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8670,243.0,NaN,NaN,ground-floor,250.0,165000.0,349,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1410,227.0,NaN,NaN,Apartment,246.0,285000.0,343,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9600,193.0,NaN,NaN,penthouse,208.0,185000.0,338,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1190,192.0,NaN,NaN,LOFT,177.0,399000.0,338,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9700,188.0,NaN,NaN,flat-studio,176.0,450000.0,330,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1160,184.0,NaN,NaN,BUNGALOW,172.0,239000.0,328,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,8434,182.0,NaN,NaN,Flat,171.0,229000.0,318,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1040,181.0,NaN,NaN,apartment-block,163.0,595000.0,315,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1080,165.0,NaN,NaN,SERVICE_FLAT,162.0,169000.0,313,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2018,162.0,NaN,NaN,Villa,146.0,235000.0,310,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,6700,159.0,NaN,NaN,mixed-use-building,143.0,265000.0,308,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4020,156.0,NaN,NaN,Penthouse,118.0,220000.0,306,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1090,148.0,NaN,NaN,mansion,111.0,279000.0,305,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,8620,147.0,NaN,NaN,Loft / Attic,102.0,425000.0,298,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1060,143.0,NaN,NaN,town-house,90.0,315000.0,296,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,8800,141.0,NaN,NaN,FARMHOUSE,88.0,335000.0,292,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,3000,138.0,NaN,NaN,MANOR_HOUSE,84.0,269000.0,290,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8301,137.0,NaN,NaN,exceptional-property,79.0,189000.0,287,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1640,135.0,NaN,NaN,loft,75.0,289000.0,286,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,8500,135.0,NaN,NaN,Duplex apartment,67.0,259000.0,286,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1380,133.0,NaN,NaN,OTHER_PROPERTY,64.0,159000.0,279,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1400,130.0,NaN,NaN,4,60.0,345000.0,279,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,7700,129.0,NaN,NaN,2012,60.0,179000.0,276,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2830,127.0,NaN,NaN,country-cottage,60.0,149000.0,273,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,9200,125.0,NaN,NaN,TRIPLEX,55.0,219000.0,266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,8430,123.0,NaN,NaN,3,47.0,210000.0,263,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,8200,122.0,NaN,NaN,Wohnung,46.0,150000.0,261,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,9500,121.0,NaN,NaN,bungalow,44.0,385000.0,259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1300,117.0,NaN,NaN,2016,38.0,180000.0,254,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1500,116.0,NaN,NaN,2009,37.0,695000.0,246,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,7000,115.0,NaN,NaN,CASTLE,30.0,260000.0,242,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,3300,110.0,NaN,NaN,CHALET,28.0,290000.0,234,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN