In [971]:
import pandas as pd
import numpy as np
import re

In [972]:
df = pd.read_csv('../csv_files/properties_correlated.csv', low_memory=False)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [973]:
df.shape

(93068, 22)

# Remove leading and trailing spaces from column names

In [974]:
df.columns = [x.strip(' ') for x in df.columns.values]

# Remove leading and trailing spaces of every element

In [975]:
# remove leading and trailing spaces and newline characters from values if they are a string
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

#### 1. PostCode

In [976]:
# 1 Converts postCode into int64

df['postcode'] = df['postcode'].astype('Int64')
df['postcode'].dtypes

Int64Dtype()

#### 2. Price

In [977]:
# 2 Converting price
def grabs_strips(x):
    if type(x) == str:
        # return x.str.extract('(\d*\.?\d*)', expand=False).astype(float)
        return re.match(r'(\d*(,\d{3})*\.?\d*)', x).group()
    return x


df['price'] = df['price'].apply(grabs_strips)

In [978]:
# Conversion into float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [979]:
df['price'].shape

(93068,)

In [980]:
df.dropna(subset=['price'], inplace=True)
df.shape

(75802, 22)

## 3.house_is

In [1033]:
# fonction to Update the most relevant value of proprety_subtype

def updates_house_is(row):
    
    house_sub_type = ['HOUSE','house','VILLA','EXCEPTIONAL_PROPERTY', 'MANSION', 'villa', 'House', 'TOWN_HOUSE'
                      , 'Villa', 'COUNTRY-COTTAGE' ]
    
    app_sub_type = ['APARTEMENT', 'APARTEMENT','apartment','MIXED_USE_BUILDING','Apartment','DUPLEX','PENTHOUSE',
                   'APARTMENT_BLOCK','GROUND_FLOOR', 'duplex', 'ground-floor', 'Loft/Attic', 'APARTMENT_GROUP'
                    , 'Penthouse', 'penthouse', 'flat-studio', 'APARTMENT', 'apartement', 'Apartement']
    
    if row['property_subtype'] in house_sub_type:
        return True
    elif row['property_subtype'] in app_sub_type:
        return False
    return np.nan

# Storing in house_is prop of the df
df['house_is'] = df.apply(updates_house_is, axis=1)

df['house_is'].replace({
    "True": True,
    "TRUE": True,
    "Yes": True,
    "False": False,
    "FALSE": False,
    "No": False,
    "NaN": 'unknown'
}, inplace=True)


df.house_is = df.house_is.astype('float64')

## 4.Sale

In [982]:
df.sale = df['sale'].replace({
    'Wohnung': "Unknown",
    'Appartement': "Unknown",
    'Apartamento': "Unknown",
    '': "Unknown",
    'None': "Unknown",
    "unknown":"Unknown",
    "Maison":"Unknown",
    "Huis":"Unknown",
    "House":"Unknown"
})

df.sale = df['sale'].fillna('Unknown')

## 5.property_subtype

In [1030]:
df.property_subtype = df['property_subtype'].replace({
    'house': "HOUSE",
    'House': "HOUSE",
    'apartment': "APARTMENT",
    '': "unknown",
    'villa': "VILLA",
    'Villa': "VILLA",
    "duplex":"DUPLEX",
    "Huis":"HOUSE",
    "Maison":"HOUSE",
    'penthouse':'PENTHOUSE',
    'flat-studio':'FLAT_STUDIO',
    'ground-floor':'GROUND_FLOOR',
    'loft':'LOFT',
    'castle':'CASTLE',
    'unkonwn':'unknown',
    'mansion':'MANSION',
    'bungalow':'BUNGALOW'
    
})

df.property_subtype = df.property_subtype.replace(r'^\d+', 'unkonwn', regex=True)

df.property_subtype = df['property_subtype'].fillna('unknown')

In [984]:
pd.options.display.max_rows = 4000
df.property_subtype.value_counts()

HOUSE                                  25441
APARTMENT                              20658
unknown                                 6024
VILLA                                   4891
APARTMENT_BLOCK                         3709
MIXED_USE_BUILDING                      3322
DUPLEX                                  1820
PENTHOUSE                               1646
GROUND_FLOOR                            1320
Flat                                    1099
FLAT_STUDIO                              991
EXCEPTIONAL_PROPERTY                     905
MANSION                                  810
TOWN_HOUSE                               403
COUNTRY_COTTAGE                          346
SERVICE_FLAT                             304
LOFT                                     289
BUNGALOW                                 227
apartment-block                          167
mixed-use-building                       146
FARMHOUSE                                117
MANOR_HOUSE                              113
mansion                                  112
OTHER_PROPERTY                           108
TRIPLEX                                   92
town-house                                91
loft                                      82
exceptional-property                      81
country-cottage                           61
Newbuild project                          57
bungalow                                  44
CASTLE                                    42
CHALET                                    35
farmhouse                                 26
triplex                                   23
KOT                                       23
unkonwn                                   22
service-flat                              19
Vrijstaande woning                        17
Maison détachée                           15
manor-house                               14
Investment / Residential investment       13
other-property                            13
chalet                                    12
kot                                       12
castle                                     8
Detached House                             4
Finca                                      4
Autre                                      4
Établissement historique                   4
Investering / Woon- en werkruimte          3
Bungalow                                   2
Historic Estate                            2
Investment property                        2
Ander(e)                                   2
Investissement                             2
Business                                   1
Landhuis                                   1
Historische pand                           1
Name: property_subtype, dtype: int64

## 9.room_number

In [985]:
# replace None to np.nan
df.rooms_number.fillna(value=np.nan, inplace=True)
df.rooms_number[df.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [986]:
# replace 'None' to np.nan
df.rooms_number = df.rooms_number.apply(lambda x : np.nan if x=='None' else x)
df.rooms_number[df.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [987]:
df.rooms_number = df.rooms_number.replace('Not specified', np.nan)

In [988]:
# change data type of rooms_number from object to float64
df.rooms_number = df.rooms_number.astype('float64')

## 10.area

In [989]:
# remove 'm2' in value of area
df.area = df.area.replace("[^0-9.-]", "", regex=True)

In [990]:
# replace empty in value of area
df.area = df.area.replace('', np.nan)

In [991]:
# replace None to np.nan
df.area.fillna(value=np.nan, inplace=True)

In [992]:
# replace 'None' to np.nan
df.area = df.area.apply(lambda x : np.nan if x=='None' else x)

In [993]:
# change data type from object to float64
df.area = df.area.astype('float64')

In [994]:
# replace zero in value of area
df.area = df.area.replace(0, np.nan)

## 11.kitchen_has

In [995]:
df.kitchen_has.value_counts(dropna=False)

True     53991
False    15764
NaN       6047
Name: kitchen_has, dtype: int64

In [996]:
# change data type from object to float64
df.kitchen_has = df.kitchen_has.astype('float64')

In [997]:
df.kitchen_has.value_counts(dropna=False)

1.0    53991
0.0    15764
NaN     6047
Name: kitchen_has, dtype: int64

## 12.furnished

In [998]:
# change data type from object to float64
df.furnished = df.furnished.astype('float64')

## 13.open_fire

In [999]:
# change data type from object to float64
df.open_fire = df.open_fire.astype('float64')

## 14.terrace

In [1000]:
# change numerical data to np.nan
df.terrace = df.terrace.replace(r'\d\.?\d?', True, regex=True)

In [1001]:
# replace string False to False
df.terrace = df.terrace.replace('False', False)

In [1002]:
# replace string False to False
df.terrace = df.terrace.replace('TRUE', True)

In [1003]:
# replace string False to False
df.terrace = df.terrace.replace('True', True)

In [1004]:
# change data type from object to bool
df.terrace = df.terrace.astype('float64')

In [1005]:
df.terrace.value_counts(dropna=False)

1.0    34219
0.0    25809
NaN    15774
Name: terrace, dtype: int64

## 15.terrace_area

In [1006]:
# replace 'None' to np.nan
df.terrace_area = df.terrace_area.apply(lambda x : np.nan if x=='None' else x)
df.terrace_area[df.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [1007]:
df.terrace_area = df.terrace_area.replace(True, np.nan)
df.terrace_area = df.terrace_area.replace('TRUE', np.nan)

In [1008]:
# change data type from object to float64
df.terrace_area = df.terrace_area.astype('float64')

# replace zero in value of area
df.terrace_area = df.terrace_area.replace(0, np.nan)

# replace '1' in value of area
df.terrace_area = df.terrace_area.replace(1, np.nan)

## 16.Garden

In [1009]:
# replace string False to False
df.garden = df.garden.replace('False', False)

In [1010]:
# replace string False to False
df.garden = df.garden.replace('True', True)

In [1011]:
# change data type from object to bool
df.garden = df.garden.astype('float64')

In [1012]:
df.garden = df.garden.apply(lambda x:1 if x>1 else x)

## 17.Garden Area

In [1013]:
# replace None to np.nan
df.garden_area.fillna(value=np.NaN, inplace=True)
df.garden_area[df.garden_area==None]

# replace 'None' to np.nan
df.garden_area = df.garden_area.apply(lambda x : np.nan if x=='None' else x)
df.garden_area[df.garden_area=='None']

# change data type of rooms_number from object to float64
df.garden_area = df.garden_area.astype('float64')

# replace zero in value of area
df.garden_area = df.garden_area.replace(0, np.nan)

# replace '1' in value of area
df.garden_area = df.garden_area.replace(1, np.nan)

## 18.land_surface

In [1014]:
# replace None to np.nan
df.land_surface.fillna(value=np.NaN, inplace=True)

# replace np.nan TO 0
df.land_surface = df.land_surface.replace(np.nan, 0)

# replace None to np.nan
df.land_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_surface = df.land_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_surface = df.land_surface.astype('float64')

# replace zero in value of area
df.land_surface = df.land_surface.replace(0, np.nan)

# replace '1' in value of area
df.land_surface = df.land_surface.replace(1, np.nan)

In [1015]:
df.land_surface.value_counts()

100.0        280
150.0        268
200.0        220
300.0        217
120.0        215
250.0        184
1000.0       175
400.0        174
110.0        173
50.0         162
70.0         160
500.0        158
160.0        157
90.0         147
60.0         144
170.0        143
600.0        142
180.0        141
130.0        139
220.0        137
140.0        136
800.0        127
80.0         125
1200.0       125
700.0        124
260.0        111
75.0         107
1500.0       102
550.0         97
2000.0        96
350.0         95
280.0         93
330.0         91
240.0         90
230.0         87
105.0         85
450.0         82
40.0          79
900.0         78
270.0         77
210.0         75
125.0         74
1300.0        74
135.0         71
165.0         68
190.0         68
360.0         66
1800.0        66
85.0          66
340.0         65
185.0         62
290.0         60
320.0         60
225.0         59
45.0          59
145.0         59
115.0         59
750.0         57
155.0         56
1700.0        56
193.0         55
55.0          54
1600.0        53
1100.0        53
3000.0        52
95.0          52
335.0         52
255.0         51
215.0         51
370.0         51
65.0          51
310.0         51
277.0         50
2500.0        50
380.0         49
390.0         49
72.0          47
256.0         47
440.0         47
128.0         47
30.0          47
195.0         47
138.0         47
850.0         44
410.0         44
295.0         42
2200.0        42
650.0         41
96.0          41
810.0         40
630.0         40
10000.0       40
560.0         39
126.0         39
3300.0        39
108.0         39
1400.0        38
84.0          38
175.0         38
82.0          38
460.0         38
245.0         38
4000.0        37
143.0         37
196.0         37
134.0         37
35.0          36
162.0         36
275.0         36
114.0         36
2300.0        36
157.0         36
97.0          35
298.0         35
112.0         35
266.0         35
2800.0        35
154.0         35
205.0         35
480.0         35
178.0         35
221.0         35
167.0         34
132.0         34
71.0          34
88.0          34
139.0         34
540.0         34
20.0          33
317.0         33
820.0         33
345.0         33
212.0         33
104.0         33
182.0         32
1050.0        32
470.0         32
153.0         32
430.0         32
119.0         31
184.0         31
325.0         31
176.0         31
287.0         31
530.0         31
318.0         30
690.0         30
152.0         30
265.0         30
216.0         30
510.0         30
339.0         30
1250.0        30
144.0         30
294.0         29
243.0         29
151.0         29
520.0         29
490.0         29
420.0         29
262.0         29
286.0         29
960.0         29
163.0         29
98.0          29
63.0          29
147.0         28
238.0         28
504.0         28
2700.0        28
222.0         28
248.0         28
620.0         28
93.0          28
118.0         28
575.0         27
364.0         27
2600.0        27
3200.0        27
122.0         27
168.0         27
186.0         27
202.0         27
218.0         27
78.0          27
192.0         27
148.0         27
720.0         27
171.0         27
223.0         27
301.0         26
247.0         26
133.0         26
214.0         26
315.0         26
1150.0        26
198.0         26
305.0         26
235.0         26
640.0         25
172.0         25
1900.0        25
445.0         25
77.0          25
1160.0        25
312.0         25
950.0         25
580.0         25
432.0         25
594.0         25
306.0         25
760.0         25
308.0         25
590.0         25
2400.0        25
124.0         25
232.0         25
189.0         25
111.0         25
102.0         25
254.0         25
51.0          25
116.0         25
2100.0        25
626.0         24
258.0         24
213.0         24
7000.0        24
117.0         24
169.0         24
161.0         24
579.0         24
680.0         24
231.0         24
865.0         24
272.0         24
334.0         24
224.0         24
76.0          24
332.0         24
107.0         24
208.0         23
591.0         23
525.0         23
495.0         23
183.0         23
179.0         23
242.0         23
475.0         23
159.0         23
860.0         23
394.0         23
890.0         23
331.0         23
276.0         22
324.0         22
204.0         22
675.0         22
177.0         22
303.0         22
58.0          22
142.0         22
283.0         22
174.0         22
293.0         22
570.0         22
81.0          22
419.0         22
3500.0        22
113.0         22
391.0         22
233.0         22
92.0          21
336.0         21
3400.0        21
875.0         21
536.0         21
642.0         21
552.0         21
1240.0        21
282.0         21
487.0         21
456.0         21
137.0         21
695.0         21
840.0         21
670.0         21
309.0         21
41.0          21
464.0         21
194.0         21
296.0         21
48.0          20
52.0          20
68.0          20
425.0         20
338.0         20
515.0         20
15.0          20
74.0          20
378.0         20
3800.0        20
465.0         20
780.0         20
4500.0        20
181.0         20
49.0          20
264.0         19
25.0          19
773.0         19
207.0         19
201.0         19
197.0         19
234.0         19
615.0         19
101.0         19
1010.0        19
375.0         19
237.0         19
427.0         19
514.0         19
61.0          19
57.0          19
603.0         19
69.0          19
87.0          19
326.0         19
395.0         19
46.0          18
228.0         18
2350.0        18
396.0         18
348.0         18
288.0         18
555.0         18
121.0         18
94.0          18
1450.0        18
1140.0        18
367.0         18
388.0         18
229.0         18
502.0         18
5500.0        18
449.0         18
806.0         18
158.0         17
980.0         17
187.0         17
457.0         17
321.0         17
708.0         17
625.0         17
578.0         17
91.0          17
462.0         17
156.0         17
358.0         17
274.0         17
369.0         17
355.0         17
595.0         17
349.0         17
516.0         17
106.0         17
1090.0        17
5000.0        17
259.0         16
398.0         16
366.0         16
688.0         16
316.0         16
740.0         16
353.0         16
755.0         16
103.0         16
730.0         16
653.0         16
447.0         16
3100.0        16
141.0         16
512.0         16
36.0          16
505.0         16
995.0         16
658.0         16
206.0         16
365.0         15
435.0         15
20000.0       15
267.0         15
1988.0        15
469.0         15
414.0         15
44.0          15
484.0         15
217.0         15
56.0          15
385.0         15
203.0         15
735.0         15
451.0         15
673.0         15
123.0         15
415.0         15
278.0         15
1530.0        15
173.0         15
1045.0        15
770.0         15
968.0         15
352.0         15
1425.0        15
2250.0        15
715.0         15
738.0         15
990.0         15
446.0         15
466.0         15
251.0         15
471.0         15
402.0         15
825.0         15
86.0          15
6500.0        15
769.0         15
1379.0        15
522.0         15
682.0         15
211.0         15
429.0         15
1490.0        15
109.0         15
261.0         14
357.0         14
712.0         14
164.0         14
563.0         14
478.0         14
443.0         14
497.0         14
661.0         14
832.0         14
762.0         14
285.0         14
279.0         14
227.0         14
660.0         14
426.0         14
136.0         14
273.0         14
302.0         14
53.0          14
333.0         14
796.0         14
1543.0        14
986.0         14
199.0         14
62.0          14
790.0         14
476.0         14
249.0         14
585.0         14
610.0         14
354.0         14
461.0         14
59.0          14
99.0          14
619.0         14
382.0         14
291.0         14
641.0         14
32.0          13
403.0         13
1041.0        13
1550.0        13
2854.0        13
1560.0        13
6300.0        13
537.0         13
1130.0        13
269.0         13
694.0         13
379.0         13
401.0         13
528.0         13
127.0         13
1089.0        13
3900.0        13
518.0         13
246.0         13
612.0         13
373.0         13
66.0          13
405.0         13
898.0         13
188.0         13
408.0         13
1070.0        13
29500.0       13
389.0         13
1040.0        13
586.0         13
448.0         13
932.0         13
907.0         13
9000.0        13
289.0         12
38.0          12
10550.0       12
713.0         12
605.0         12
1980.0        12
444.0         12
1005.0        12
307.0         12
573.0         12
664.0         12
861.0         12
783.0         12
852.0         12
836.0         12
417.0         12
253.0         12
1438.0        12
292.0         12
556.0         12
493.0         12
781.0         12
384.0         12
8000.0        12
835.0         12
880.0         12
562.0         12
509.0         12
974.0         12
1059.0        12
131.0         12
621.0         12
725.0         12
89.0          12
689.0         12
428.0         12
304.0         12
376.0         12
434.0         12
459.0         12
372.0         12
802.0         12
829.0         12
42.0          12
838.0         12
368.0         12
73.0          12
486.0         12
43.0          12
1850.0        12
37112.0       12
284.0         12
655.0         12
393.0         11
583.0         11
1209.0        11
593.0         11
532.0         11
453.0         11
437.0         11
714.0         11
793.0         11
596.0         11
638.0         11
371.0         11
785.0         11
954.0         11
22.0          11
359.0         11
691.0         11
468.0         11
819.0         11
739.0         11
963.0         11
1710.0        11
1052.0        11
1055.0        11
643.0         11
25000.0       11
351.0         11
54.0          11
662.0         11
4971.0        11
513.0         11
407.0         11
16.0          11
566.0         11
581.0         11
629.0         11
328.0         11
2515.0        11
1440.0        11
716.0         11
236.0         11
602.0         11
616.0         11
406.0         11
999.0         11
241.0         11
1360.0        11
622.0         11
1403.0        11
763.0         11
2340.0        10
343.0         10
925.0         10
632.0         10
226.0         10
1145.0        10
48000.0       10
2750.0        10
970.0         10
146.0         10
30000.0       10
12000.0       10
344.0         10
1080.0        10
1950.0        10
8900.0        10
323.0         10
894.0         10
971.0         10
452.0         10
244.0         10
1788.0        10
28.0          10
1152.0        10
12.0          10
559.0         10
1370.0        10
485.0         10
263.0         10
10.0          10
1633.0        10
807.0         10
319.0         10
381.0         10
64.0          10
649.0         10
813.0         10
786.0         10
666.0         10
1650.0        10
47.0          10
399.0         10
795.0         10
851.0         10
1340.0        10
455.0         10
4040.0        10
441.0         10
535.0         10
934.0         10
489.0         10
1015.0        10
789.0         10
481.0          9
645.0          9
701.0          9
341.0          9
975.0          9
271.0          9
696.0          9
635.0          9
608.0          9
617.0          9
149.0          9
252.0          9
6100.0         9
721.0          9
1173.0         9
1987.0         9
2840.0         9
1523.0         9
1410.0         9
1107.0         9
2122.0         9
592.0          9
436.0          9
1037.0         9
1812.0         9
534.0          9
5900.0         9
508.0          9
34.0           9
558.0          9
962.0          9
881.0          9
869.0          9
816.0          9
1144.0         9
527.0          9
1180.0         9
1480.0         9
919.0          9
707.0          9
6000.0         9
1275.0         9
17.0           9
782.0          9
2040.0         9
1920.0         9
1233.0         9
957.0          9
687.0          9
433.0          9
672.0          9
1743.0         9
542.0          9
1043.0         9
667.0          9
831.0          9
79.0           9
609.0          9
893.0          9
1260.0         9
4895.0         9
1720.0         9
3700.0         9
1960.0         9
503.0          9
507.0          9
1590.0         9
742.0          9
166.0          9
964.0          9
1081.0         9
557.0          9
1389.0         9
2420.0         9
1156.0         9
2260.0         8
268.0          8
1247.0         8
1020.0         8
9732.0         8
219.0          8
397.0          8
313.0          8
984.0          8
46097.0        8
969.0          8
2327.0         8
412.0          8
910.0          8
882.0          8
1012.0         8
1215.0         8
386.0          8
413.0          8
717.0          8
362.0          8
4600.0         8
37.0           8
209.0          8
14.0           8
492.0          8
1352.0         8
1764.0         8
1185.0         8
548.0          8
826.0          8
1580.0         8
574.0          8
3630.0         8
1325.0         8
2097.0         8
7500.0         8
1191.0         8
940.0          8
577.0          8
4800.0         8
553.0          8
702.0          8
2897.0         8
728.0          8
633.0          8
551.0          8
965.0          8
885.0          8
422.0          8
935.0          8
40500.0        8
1009.0         8
877.0          8
3600.0         8
958.0          8
40000.0        8
1467.0         8
299.0          8
561.0          8
1087.0         8
423.0          8
941.0          8
671.0          8
1235.0         8
576.0          8
567.0          8
656.0          8
257.0          8
546.0          8
2978.0         8
2480.0         8
745.0          7
1182.0         7
1377.0         7
920.0          7
2358.0         7
1077.0         7
488.0          7
1990.0         7
1136.0         7
1290.0         7
736.0          7
1286.0         7
1094.0         7
1310.0         7
524.0          7
1131.0         7
2355.0         7
568.0          7
541.0          7
759.0          7
1190.0         7
129.0          7
758.0          7
874.0          7
1880.0         7
387.0          7
463.0          7
937.0          7
2955.0         7
2662.0         7
751.0          7
636.0          7
329.0          7
904.0          7
472.0          7
439.0          7
1677.0         7
710.0          7
613.0          7
1737.0         7
1060.0         7
797.0          7
973.0          7
1409.0         7
587.0          7
361.0          7
1232.0         7
529.0          7
67.0           7
627.0          7
547.0          7
13.0           7
1463.0         7
491.0          7
11000.0        7
1241.0         7
1124.0         7
752.0          7
944.0          7
756.0          7
5200.0         7
1367.0         7
1256.0         7
1034.0         7
1251.0         7
4970.0         6
1907.0         6
1220.0         6
749.0          6
996.0          6
1811.0         6
1610.0         6
1361.0         6
864.0          6
1947.0         6
1447.0         6
5300.0         6
4300.0         6
523.0          6
821.0          6
1243.0         6
5400.0         6
1488.0         6
3679.0         6
997.0          6
3575.0         6
1746.0         6
1053.0         6
454.0          6
2704.0         6
3187.0         6
1345.0         6
2047.0         6
1044.0         6
1276.0         6
1048.0         6
2519.0         6
1515.0         6
1875.0         6
2084.0         6
1460.0         6
2298.0         6
731.0          6
3172.0         6
314.0          6
337.0          6
2950.0         6
2251.0         6
1680.0         6
1940.0         6
1296.0         6
2790.0         6
1766.0         6
855.0          6
2784.0         6
1667.0         6
8500.0         6
988.0          6
1064.0         6
906.0          6
1944.0         6
754.0          6
1320.0         6
891.0          6
2289.0         6
743.0          6
1820.0         6
421.0          6
519.0          6
533.0          6
13342.0        6
1221.0         6
4360.0         6
1582.0         6
1616.0         6
2795.0         6
2903.0         6
2.0            6
1301.0         6
748.0          6
1669.0         6
663.0          6
19683.0        6
416.0          6
3162.0         6
418.0          6
2476.0         6
1280.0         6
2584.0         6
777.0          6
2280.0         6
1027.0         6
539.0          6
1246.0         6
75938.0        6
83.0           6
668.0          6
778.0          6
828.0          6
506.0          6
2540.0         6
3210.0         6
2763.0         6
678.0          6
4762.0         6
4771.0         6
1108.0         6
1021.0         6
858.0          6
191.0          6
3229.0         6
2060.0         6
1357.0         6
1056.0         6
544.0          6
895.0          6
808.0          6
648.0          6
733.0          6
3120.0         6
1492.0         6
1141.0         6
26000.0        6
917.0          6
1329.0         6
10800.0        6
908.0          6
1545.0         6
1117.0         6
1918.0         6
383.0          6
531.0          6
1003.0         6
1430.0         6
2227.0         6
2683.0         6
1840.0         6
985.0          6
1665.0         6
761.0          6
297.0          6
814.0          6
347.0          6
871.0          6
2450.0         6
732.0          6
3570.0         6
983.0          6
1284.0         6
618.0          6
1267.0         6
1332.0         6
639.0          6
55000.0        6
1750.0         6
2269.0         6
2163.0         6
1174.0         6
4539.0         6
775.0          6
930.0          6
1194.0         6
2118.0         6
7200.0         6
2931.0         6
2272.0         6
1569.0         6
1255.0         6
12200.0        6
1283.0         6
1085.0         6
1476.0         6
3506.0         6
1641.0         6
1518.0         6
839.0          6
2606.0         6
634.0          6
1436.0         6
1074.0         6
2010.0         6
1236.0         6
611.0          6
6400.0         6
571.0          5
1101.0         5
1808.0         5
938.0          5
647.0          5
876.0          5
8300.0         5
2620.0         5
684.0          5
1393.0         5
1549.0         5
9143.0         5
830.0          5
747.0          5
543.0          5
1867.0         5
1872.0         5
1004.0         5
7.0            5
32000.0        5
39.0           5
914.0          5
2778.0         5
4362.0         5
933.0          5
565.0          5
2733.0         5
624.0          5
804.0          5
1272.0         5
23.0           5
33857.0        5
473.0          5
704.0          5
1088.0         5
374.0          5
698.0          5
1038.0         5
2020.0         5
363.0          5
1723.0         5
2380.0         5
637.0          5
1193.0         5
1227.0         5
1485.0         5
392.0          5
888.0          5
3339.0         5
1526.0         5
2989.0         5
8800.0         5
356.0          5
4100.0         5
945.0          5
1225.0         5
589.0          5
1630.0         5
1522.0         5
798.0          5
3529.0         5
572.0          5
706.0          5
2510.0         5
1170.0         5
64800.0        5
1448.0         5
765.0          5
5800.0         5
1169.0         5
549.0          5
1429.0         5
722.0          5
1620.0         5
6.0            5
4700.0         5
1789.0         5
554.0          5
377.0          5
3461.0         5
584.0          5
1731.0         5
2410.0         5
867.0          5
1203.0         5
1189.0         4
1069.0         4
1475.0         4
13000.0        4
2690.0         4
3016.0         4
1168.0         4
1046.0         4
1734.0         4
892.0          4
327.0          4
1115.0         4
903.0          4
803.0          4
7028.0         4
801.0          4
15000.0        4
8666.0         4
1309.0         4
281.0          4
1175.0         4
2338.0         4
1054.0         4
322.0          4
2008.0         4
768.0          4
1870.0         4
404.0          4
3350.0         4
1302.0         4
1282.0         4
1208.0         4
1890.0         4
14000.0        4
614.0          4
1693.0         4
3250.0         4

## 19.land_plot_surface

In [1016]:
# replace 'yes' from value to 0
df.land_plot_surface = df.land_plot_surface.replace("[^0-9.-]", "", regex=True)

# replace 'm2' from value of area
df.land_plot_surface = df.land_plot_surface.replace('', np.nan)

# replace None to np.nan
df.land_plot_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_plot_surface = df.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_plot_surface = df.land_plot_surface.astype('float64')

# replace zero in value of area
df.land_plot_surface = df.land_plot_surface.replace(0, np.nan)

# replace '1' in value of area
df.land_plot_surface = df.land_plot_surface.replace(1, np.nan)

## 20.facades_number

In [1017]:
# replace 'None' to np.nan
df.facades_number = df.facades_number.apply(lambda x : np.nan if x=='None' else x)
df.facades_number[df.facades_number=='None']

# change data type of facades_number from object to float64
df.facades_number = df.facades_number.astype('float64')

## 21.swimming_pool_has

In [1018]:
 #change numerical data to np.nan
df.swimming_pool_has = df.swimming_pool_has.replace(r'\d\.?\d?', np.nan, regex=True)

# replace string 'False' to False
df.swimming_pool_has = df.swimming_pool_has.replace('False', False)

# replace string 'FALSE' to False
df.swimming_pool_has = df.swimming_pool_has.replace('FALSE', False)

# replace string 'True' to True
df.swimming_pool_has = df.swimming_pool_has.replace('True', True)

# replace string 'TRUE' to True
df.swimming_pool_has = df.swimming_pool_has.replace('TRUE', True)

# change data type from object to bool
df.swimming_pool_has = df.swimming_pool_has.astype('float64')

df.swimming_pool_has.value_counts(dropna=False)

0.0    59365
NaN    14475
1.0     1962
Name: swimming_pool_has, dtype: int64

## 22.building_state

In [1019]:
# change numerical data to np.nan
df.building_state = df.building_state.replace(r'\d\.?\d?', np.nan, regex=True)
df.building_state = df.building_state.apply(lambda x : np.nan if x=='None' else x)
df.building_state = df['building_state'].replace({
    'Good':"GOOD",
    'As new':"AS_NEW",
    'To renovate':"TO_RENOVATE",
    'To restore':"TO_RESTORE",
    '':np.nan,
    'To be done up':"TO_BE_DONE_UP",
    "Just renovated":"JUST_RENOVATED",
    'Not specified':np.nan
})

# Check if there are columns with mixed data types ==> NO

In [1020]:
from pandas.api.types import infer_dtype
# print data type of each column to check if there are
# any mixed ones, turns out that there are none
def is_mixed(col):
    return infer_dtype(col)

df.apply(is_mixed)

# ==> there are no columns with 'mixed' part of the inferred datatype

source                integer
hyperlink              string
locality               string
postcode              integer
house_is             floating
property_subtype       string
price                floating
sale                   string
rooms_number         floating
area                 floating
kitchen_has          floating
furnished            floating
open_fire            floating
terrace              floating
terrace_area         floating
garden               floating
garden_area          floating
land_surface         floating
land_plot_surface    floating
facades_number       floating
swimming_pool_has    floating
building_state         string
dtype: object

## Find which kind of empties there are ==> there are only NaNs

In [1021]:
# are there any empty strings? ==> no
#print(np.where(df.applymap(lambda x: x == '')))

# are there any NaNs? ==> yes
np.where(pd.isnull(df))

(array([    1,     2,     2, ..., 75801, 75801, 75801]),
 array([14, 14, 16, ..., 18, 20, 21]))

# Display the percent of NaNs per column

In [1022]:
# display the percent of NaNs per column
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'%_missing': percent_missing})
missing_value_df = missing_value_df.sort_values('%_missing', ascending = False)
missing_value_df

                   %_missing
garden_area        86.045223
terrace_area       70.008707
land_surface       67.032532
building_state     42.791747
land_plot_surface  37.830136
hyperlink          22.172238
terrace            20.809477
swimming_pool_has  19.095802
furnished          15.605129
house_is           14.142107
facades_number     13.552413
area               11.379647
garden              9.779425
kitchen_has         7.977362
open_fire           7.284768
postcode            4.019683
rooms_number        0.340360
locality            0.002638
sale                0.000000
price               0.000000
property_subtype    0.000000
source              0.000000

### Put 'unknown' in place of NaN for everything else than int64 and float64 columns
### Please run this after converting numerical columns like price and facades from string to integer.
#### Even a value of NaN might help predict the price, so to avoid the correlation algorithm skipping it?, and because NaN is not allowed, we replace it.

In [1023]:
# replace all NaNs in strings with 'unknown'
df_nanfilled = df.select_dtypes(exclude=['int64','float64']).replace(np.nan, 'unknown')
df.update(df_nanfilled)

# replace all 'None'/'none' strings with uknown
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('none', 'unknown')
df.update(df_nonefilled)
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('None', 'unknown')
df.update(df_nonefilled)

In [1024]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75802 entries, 0 to 93067
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             75802 non-null  int64
 1   hyperlink          75802 non-null  object
 2   locality           75802 non-null  object
 3   postcode           72755 non-null  Int64
 4   house_is           65082 non-null  float64
 5   property_subtype   75802 non-null  object
 6   price              75802 non-null  float64
 7   sale               75802 non-null  object
 8   rooms_number       75544 non-null  float64
 9   area               67176 non-null  float64
 10  kitchen_has        69755 non-null  float64
 11  furnished          63973 non-null  float64
 12  open_fire          70280 non-null  float64
 13  terrace            60028 non-null  float64
 14  terrace_area       22734 non-null  float64
 15  garden             68389 non-null  float64
 16  garden_area        10578 non-null  float64
 17  land_surface       24990 non-null  float64
 18  land_plot_surface  47126 non-null  float64
 19  facades_number     65529 non-null  float64
 20  swimming_pool_has  61327 non-null  float64
 21  building_state     75802 non-null  object
dtypes: Int64(1), float64(15), int64(1), object(5)
memory usage: 13.4+ MB

# Remove duplicates
### should execute after fixing columns
### should execute after removing non-property detail or incomplete columns: source and hyperlink

In [1025]:
# drop columns 
df.drop(['source', 'hyperlink'], axis = 1, inplace = True)

# drop 100% duplicate rows
lenght_before = len(df)
df.drop_duplicates(ignore_index = True, inplace = True)
dropped = len(df) - lenght_before
print(f'Dropped: {dropped}')

Dropped: -21765

## 6.locality and postcode
### Drop postcode column, because postcode is more completely available in 'locality'
### first we fix 'locality' column to carry just postcode or 'unknown' (stripping sporadic address parts)

In [1026]:
df.drop('postcode', axis = 1, inplace = True)

# write a function that returns the cleaned postcode from elements
# containing the address
def clean_locality(locality): 
    # Search for the presence of a 4 digit number (starts with 1-9)
    if re.search('[1-9]\d{3}', locality):
        # get the number
        return re.findall("[1-9]\d{3}", locality)[0]
    else: 
        # if no postcode is inside insert 'unknown' 
        return 'unknown'
          
# Updated locality column
df['locality'] = df['locality'].apply(clean_locality)

## 7.Create a region column

In [1027]:
def get_region(locality):
    if locality == 'unknown':
        return 'unknown'
    else:
        if not re.search('[1-9]\d{3}', locality):
            print('Please run this on already cleaned locality column')
            return 'unknown'
        elif int(locality) >= 1000 and int(locality) <=1299:
            return 'Brussels'
        elif int(locality) >= 1300 and int(locality) <=1499:
            return 'Wallonia'
        elif int(locality) >= 4000 and int(locality) <=7999:
            return 'Wallonia'
        else:
            return 'Flanders'
        
df['region'] = df['locality'].apply(get_region)

# Print unique values per column

In [1043]:
uniques = pd.DataFrame()
for col in df:
    col_uniques = pd.DataFrame({f'{col}_value': df[f'{col}'].value_counts().index,
                                f'{col}_count': df[f'{col}'].value_counts().values})
    uniques = pd.concat([uniques, col_uniques], axis = 1)

uniques.iloc[0:30, 0:20].head(10)

,locality_value,locality_count,house_is_value,house_is_count,property_subtype_value,property_subtype_count,price_value,price_count,sale_value,sale_count,rooms_number_value,rooms_number_count,area_value,area_count,kitchen_has_value,kitchen_has_count,furnished_value,furnished_count,open_fire_value,open_fire_count
0,unknown,20196.0,1.0,24720.0,HOUSE,19174.0,295000.0,694,Unknown,43616.0,3.0,17567.0,150.0,954.0,1.0,39185.0,0.0,36600.0,0.0,45458.0
1,8300,1257.0,0.0,20535.0,APARTMENT,13751.0,249000.0,656,residential_sale,9536.0,2.0,14765.0,120.0,932.0,0.0,8901.0,1.0,5789.0,1.0,3144.0
2,1180,1003.0,NaN,NaN,unknown,5938.0,199000.0,656,first_session_with_reserve_price,622.0,4.0,8808.0,100.0,891.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1000,796.0,NaN,NaN,VILLA,3853.0,299000.0,648,Public Sale,172.0,1.0,4387.0,90.0,827.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1050,734.0,NaN,NaN,APARTMENT_BLOCK,1912.0,275000.0,645,annuity_monthly_amount,73.0,5.0,3843.0,160.0,808.0,NaN,NaN,NaN,NaN,NaN,NaN
5,9000,707.0,NaN,NaN,MIXED_USE_BUILDING,1711.0,225000.0,628,Notary Sale,13.0,6.0,1759.0,200.0,757.0,NaN,NaN,NaN,NaN,NaN,NaN
6,8400,546.0,NaN,NaN,DUPLEX,1201.0,395000.0,568,last_session_reached_price_min_overbid,2.0,0.0,935.0,140.0,749.0,NaN,NaN,NaN,NaN,NaN,NaN
7,4000,395.0,NaN,NaN,PENTHOUSE,1078.0,325000.0,528,final_public_sale,2.0,7.0,669.0,180.0,718.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,344.0,NaN,NaN,GROUND_FLOOR,882.0,195000.0,520,annuity_lump_sum,1.0,8.0,342.0,80.0,713.0,NaN,NaN,NaN,NaN,NaN,NaN
9,1200,327.0,NaN,NaN,MANSION,709.0,250000.0,493,NaN,NaN,9.0,194.0,110.0,703.0,NaN,NaN,NaN,NaN,NaN,NaN

In [1036]:
df.to_csv('../csv_files/cleaned_properties.csv')