# Import data

In [68]:
import pandas as pd
import numpy as np
from pandas.api.types import infer_dtype

df = pd.read_csv('./csv_files/properties.csv', low_memory=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75876 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   source              75876 non-null  int64
 1   hyperlink           59908 non-null  object
 2   locality            75874 non-null  object
 3   postcode            68464 non-null  float64
 4   house_is            75876 non-null  object
 5   property_subtype    75876 non-null  object
 6   price               74405 non-null  object
 7   sale                25810 non-null  object
 8   rooms_number        74502 non-null  object
 9   area                72349 non-null  object
 10  kitchen_has         69763 non-null  object
 11  furnished           69438 non-null  object
 12  open_fire           70005 non-null  object
 13  terrace             61138 non-null  object
 14  terrace_area        64583 non-null  object
 15  garden              67421 non-null  object
 16  garden_area         60142 non-null  object
 17  land_surface        64006 non-null  object
 18  land_plot_surface   63206 non-null  object
 19  facades_number      66395 non-null  object
 20  swimming_pool_has   66781 non-null  object
 21  building_state      44697 non-null  object
dtypes: float64(1), int64(1), object(20)
memory usage: 12.7+ MB

# Check if there are columns with mixed data types ==> NO

In [69]:
# print data type of each column to check if there are
# any mixed ones, turns out that there are none
def is_mixed(col):
    return infer_dtype(col)

df.apply(is_mixed)

# ==> there are no columns with 'mixed' part of the inferred datatype

source                 integer
hyperlink               string
locality                string
postcode              floating
house_is                string
property_subtype        string
price                   string
sale                    string
rooms_number            string
area                    string
kitchen_has            boolean
furnished              boolean
open_fire              boolean
terrace                 string
terrace_area            string
garden                  string
garden_area             string
land_surface            string
land_plot_surface       string
facades_number          string
swimming_pool_has      boolean
building_state          string
dtype: object

# Remove leading and trailing spaces from column names

In [70]:
df.columns = [x.strip(' ') for x in df.columns.values]

# Find which kind of empties there are ==> there are only NaNs

In [71]:
# are there any empty strings? ==> no
print(np.where(df.applymap(lambda x: x == '')))

# are there any NaNs? ==> yes
np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

(array([    0,     1,     2, ..., 75875, 75875, 75875]),
 array([ 7,  7,  7, ..., 19, 20, 21]))

# Display the percent of NaNs per column

In [72]:
# display the percent of NaNs per column
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'%_missing': percent_missing})
missing_value_df = missing_value_df.sort_values('%_missing', ascending = False)
missing_value_df

                   %_missing
sale               65.983974
building_state     41.092045
hyperlink          21.044863
garden_area        20.736465
terrace            19.423797
land_plot_surface  16.698297
land_surface       15.643945
terrace_area       14.883494
facades_number     12.495387
swimming_pool_has  11.986662
garden             11.143181
postcode            9.768570
furnished           8.484896
kitchen_has         8.056566
open_fire           7.737625
area                4.648374
price               1.938689
rooms_number        1.810849
locality            0.002636
property_subtype    0.000000
house_is            0.000000
source              0.000000

# Put 'unknown' in place of NaN for everything else than int64 and float64 columns
## Please run this after converting numerical columns like price and facades from string to integer.  
Even a value of NaN might help predict the price, so to avoid the correlation algorithm skipping it?, and because NaN is not allowed, we replace it.

In [73]:
# replace all NaNs in strings with 'unknown'
df_nanfilled = df.select_dtypes(exclude=['int64','float64']).replace(np.nan, 'unknown')
df.update(df_nanfilled)
print(df.info())

# replace all 'None'/'none' strings with uknown
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('none', 'unknown')
df.update(df_nonefilled)
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('None', 'unknown')
df.update(df_nonefilled)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75876 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             75876 non-null  int64
 1   hyperlink          75876 non-null  object
 2   locality           75876 non-null  object
 3   postcode           68464 non-null  float64
 4   house_is           75876 non-null  object
 5   property_subtype   75876 non-null  object
 6   price              75876 non-null  object
 7   sale               75876 non-null  object
 8   rooms_number       75876 non-null  object
 9   area               75876 non-null  object
 10  kitchen_has        75876 non-null  object
 11  furnished          75876 non-null  object
 12  open_fire          75876 non-null  object
 13  terrace            75876 non-null  object
 14  terrace_area       75876 non-null  object
 15  garden             75876 non-null  object
 16  garden_area        75876 non-null  object
 17  land_surface       75876 non-null  object
 18  land_plot_surface  75876 non-null  object
 19  facades_number     75876 non-null  object
 20  swimming_pool_has  75876 non-null  object
 21  building_state     75876 non-null  object
dtypes: float64(1), int64(1), object(20)
memory usage: 12.7+ MB
None

# Remove leading and trailing spaces of every element

In [74]:
# remove leading and trailing spaces and newline characters from values if they are a string
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

# Drop postcode column, because postcode is more completely available in 'locality'
### first we fix 'locality' column to carry just postcode or 'unknown' (stripping sporadic address parts)

In [75]:
import re

df.drop('postcode', axis = 1, inplace = True)

# write a function that returns the cleaned postcode from elements
# containing the address
def clean_locality(locality): 
    # Search for the presence of a 4 digit number (starts with 1-9)
    if re.search('[1-9]\d{3}', locality):
        # get the number
        return re.findall("[1-9]\d{3}", locality)[0]
    else: 
        # if no postcode is inside insert 'unknown' 
        return 'unknown'
          
# Updated locality column
df['locality'] = df['locality'].apply(clean_locality)

# Remove duplicates
### should execute after fixing columns
### should execute after removing non-property detail or incomplete columns: source and hyperlink

In [76]:
# drop columns 
df.drop(['source', 'hyperlink', 'sale'], axis = 1, inplace = True)

# drop 100% duplicate rows
lenght_before = len(df)
df.drop_duplicates(ignore_index = True, inplace = True)
dropped = len(df) - lenght_before
print(f'Dropped: {dropped}')

Dropped: -23730

# Print unique values per column

In [77]:
uniques = pd.DataFrame()
for col in df:
    col_uniques = pd.DataFrame({f'{col}_value': df[f'{col}'].value_counts().index,
                                f'{col}_count': df[f'{col}'].value_counts().values})
    uniques = pd.concat([uniques, col_uniques], axis = 1)

uniques.head(50)

,locality_value,locality_count,house_is_value,house_is_count,property_subtype_value,property_subtype_count,price_value,price_count,rooms_number_value,rooms_number_count,...,land_surface_value,land_surface_count,land_plot_surface_value,land_plot_surface_count,facades_number_value,facades_number_count,swimming_pool_has_value,swimming_pool_has_count,building_state_value,building_state_count
0,unknown,23768.0,False,16305.0,HOUSE,15224.0,unknown,679.0,3,11722.0,...,unknown,21376.0,unknown,16960,0,17138.0,False,43906.0,unknown,26334.0
1,8300,1169.0,True,16013.0,APARTMENT,10053.0,295000,468.0,2,11340.0,...,0,14467.0,0,1072,unknown,11827.0,unknown,6015.0,AS_NEW,11043.0
2,1180,942.0,TRUE,9463.0,house,3711.0,199000,453.0,4,5994.0,...,150,126.0,0.0,822,2,7209.0,True,2225.0,GOOD,7693.0
3,1000,731.0,Yes,4972.0,apartment,3646.0,299000,449.0,3.0,3879.0,...,100,112.0,Yes,468,4,4173.0,NaN,NaN,TO_BE_DONE_UP,2057.0
4,1050,686.0,No,4734.0,VILLA,3258.0,275000,435.0,1,3575.0,...,120,107.0,100,302,3,3367.0,NaN,NaN,TO_RENOVATE,1781.0
5,9000,570.0,FALSE,659.0,APARTMENT_BLOCK,1909.0,249000,432.0,5,3115.0,...,200,97.0,90,275,2.0,3041.0,NaN,NaN,JUST_RENOVATED,1621.0
6,8400,457.0,NaN,NaN,MIXED_USE_BUILDING,1708.0,225000,421.0,4.0,2346.0,...,300,92.0,80,257,4.0,3002.0,NaN,NaN,Not specified,626.0
7,4000,336.0,NaN,NaN,Apartment,1242.0,395000,402.0,6,1870.0,...,110,88.0,70,251,3.0,2147.0,NaN,NaN,old,475.0
8,1150,298.0,NaN,NaN,DUPLEX,900.0,195000,362.0,2.0,1495.0,...,160,85.0,120,236,1,200.0,NaN,NaN,New,393.0
9,1200,292.0,NaN,NaN,PENTHOUSE,865.0,325000,349.0,5.0,1115.0,...,1000,83.0,110,218,1.0,39.0,NaN,NaN,TO_RESTORE,123.0
10,1070,284.0,NaN,NaN,EXCEPTIONAL_PROPERTY,675.0,250000,342.0,0,1105.0,...,100.0,80.0,85,200,6,1.0,NaN,NaN,NaN,NaN
11,8370,270.0,NaN,NaN,GROUND_FLOOR,625.0,245000,330.0,7,979.0,...,70,80.0,75,189,10.0,1.0,NaN,NaN,NaN,NaN
12,1030,264.0,NaN,NaN,MANSION,593.0,175000,319.0,8,588.0,...,250,80.0,150,188,10,1.0,NaN,NaN,NaN,NaN
13,4500,260.0,NaN,NaN,villa,486.0,349000,312.0,unknown,588.0,...,170,76.0,95,170,NaN,NaN,NaN,NaN,NaN,NaN
14,8000,258.0,NaN,NaN,FLAT_STUDIO,461.0,185000,300.0,6.0,488.0,...,400,76.0,60,169,NaN,NaN,NaN,NaN,NaN,NaN
15,9300,258.0,NaN,NaN,House,371.0,215000,297.0,9,419.0,...,180,75.0,50,155,NaN,NaN,NaN,NaN,NaN,NaN
16,1420,254.0,NaN,NaN,TOWN_HOUSE,305.0,495000,295.0,1.0,281.0,...,130,74.0,130,149,NaN,NaN,NaN,NaN,NaN,NaN
17,8670,248.0,NaN,NaN,duplex,299.0,165000,292.0,10,255.0,...,90,74.0,105,147,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,244.0,NaN,NaN,Villa,290.0,235000,280.0,7.0,170.0,...,220,73.0,200,144,NaN,NaN,NaN,NaN,NaN,NaN
19,1410,228.0,NaN,NaN,ground-floor,259.0,239000,278.0,11,127.0,...,140,70.0,160,139,NaN,NaN,NaN,NaN,NaN,NaN
20,9600,195.0,NaN,NaN,COUNTRY_COTTAGE,255.0,350000,277.0,0.0,109.0,...,260,64.0,140,131,NaN,NaN,NaN,NaN,NaN,NaN
21,1190,194.0,NaN,NaN,Loft / Attic,242.0,285000,275.0,12,102.0,...,500,63.0,180,130,NaN,NaN,NaN,NaN,NaN,NaN
22,9700,192.0,NaN,NaN,APARTMENT_GROUP,214.0,375000,272.0,8.0,82.0,...,60,60.0,115,120,NaN,NaN,NaN,NaN,NaN,NaN
23,8434,189.0,NaN,NaN,Penthouse,213.0,229000,270.0,13,45.0,...,700,58.0,125,120,NaN,NaN,NaN,NaN,NaN,NaN
24,1160,188.0,NaN,NaN,penthouse,210.0,399000,267.0,9.0,44.0,...,200.0,58.0,65,116,NaN,NaN,NaN,NaN,NaN,NaN
25,1040,182.0,NaN,NaN,flat-studio,188.0,169000,263.0,10.0,42.0,...,50.0,58.0,92,115,NaN,NaN,NaN,NaN,NaN,NaN
26,1080,167.0,NaN,NaN,Flat,179.0,450000,255.0,15,40.0,...,300.0,57.0,170,111,NaN,NaN,NaN,NaN,NaN,NaN
27,6700,165.0,NaN,NaN,LOFT,177.0,189000,254.0,18,23.0,...,1200,57.0,135,107,NaN,NaN,NaN,NaN,NaN,NaN
28,2018,164.0,NaN,NaN,BUNGALOW,173.0,265000,254.0,14,19.0,...,600,56.0,220,107,NaN,NaN,NaN,NaN,NaN,NaN
29,4020,160.0,NaN,NaN,Wohnung,172.0,595000,251.0,11.0,16.0,...,50,55.0,250,104,NaN,NaN,NaN,NaN,NaN,NaN
30,8620,150.0,NaN,NaN,apartment-block,168.0,220000,250.0,16,16.0,...,800,55.0,106,97,NaN,NaN,NaN,NaN,NaN,NaN
31,1090,148.0,NaN,NaN,SERVICE_FLAT,167.0,269000,245.0,20,12.0,...,280,54.0,300,96,NaN,NaN,NaN,NaN,NaN,NaN
32,1060,146.0,NaN,NaN,HOUSE_GROUP,157.0,259000,243.0,12.0,12.0,...,1.0,53.0,91,95,NaN,NaN,NaN,NaN,NaN,NaN
33,8800,143.0,NaN,NaN,mixed-use-building,145.0,279000,243.0,19,10.0,...,400.0,52.0,40,94,NaN,NaN,NaN,NaN,NaN,NaN
34,3000,141.0,NaN,NaN,Duplex apartment,112.0,315000,240.0,24,8.0,...,500.0,52.0,97,94,NaN,NaN,NaN,NaN,NaN,NaN
35,8301,138.0,NaN,NaN,mansion,111.0,159000,238.0,25,8.0,...,80,52.0,88,91,NaN,NaN,NaN,NaN,NaN,NaN
36,8500,137.0,NaN,NaN,town-house,92.0,335000,236.0,17,7.0,...,330,50.0,93,90,NaN,NaN,NaN,NaN,NaN,NaN
37,1640,135.0,NaN,NaN,FARMHOUSE,91.0,425000,232.0,15.0,7.0,...,150.0,50.0,2,90,NaN,NaN,NaN,NaN,NaN,NaN
38,1380,133.0,NaN,NaN,MANOR_HOUSE,84.0,149000,231.0,13.0,6.0,...,240,50.0,84,88,NaN,NaN,NaN,NaN,NaN,NaN
39,7700,132.0,NaN,NaN,exceptional-property,82.0,289000,231.0,28,6.0,...,350,48.0,87,86,NaN,NaN,NaN,NaN,NaN,NaN
40,1400,131.0,NaN,NaN,loft,78.0,179000,230.0,30,6.0,...,550,47.0,210,85,NaN,NaN,NaN,NaN,NaN,NaN
41,2830,129.0,NaN,NaN,4,76.0,345000,227.0,22,5.0,...,230,47.0,94,84,NaN,NaN,NaN,NaN,NaN,NaN
42,8430,125.0,NaN,NaN,2012,67.0,210000,224.0,21,5.0,...,600.0,47.0,4,83,NaN,NaN,NaN,NaN,NaN,NaN
43,9200,125.0,NaN,NaN,OTHER_PROPERTY,64.0,219000,215.0,18.0,4.0,...,250.0,46.0,82,83,NaN,NaN,NaN,NaN,NaN,NaN
44,8200,124.0,NaN,NaN,3,62.0,385000,209.0,90,4.0,...,2000,45.0,400,82,NaN,NaN,NaN,NaN,NaN,NaN
45,9500,122.0,NaN,NaN,country-cottage,62.0,260000,207.0,41,4.0,...,105,45.0,55,80,NaN,NaN,NaN,NaN,NaN,NaN
46,1500,120.0,NaN,NaN,TRIPLEX,55.0,180000,206.0,20.0,3.0,...,1500,45.0,98,78,NaN,NaN,NaN,NaN,NaN,NaN
47,1300,119.0,NaN,NaN,Historic Estate,44.0,150000,204.0,32,3.0,...,75,43.0,165,77,NaN,NaN,NaN,NaN,NaN,NaN
48,7000,116.0,NaN,NaN,Huis,44.0,695000,193.0,14.0,3.0,...,1000.0,42.0,20,77,NaN,NaN,NaN,NaN,NaN,NaN
49,3300,112.0,NaN,NaN,bungalow,44.0,290000,192.0,44,2.0,...,165,42.0,86,76,NaN,NaN,NaN,NaN,NaN,NaN